@import url(https://fonts.googleapis.com/css?family=Lato|Pragati+Narrow:700);

/*
 * FONTS AND VARIABLES OVERRIDE
 *
 */
$font-family-sans-serif: 'Lato', sans-serif;

$body-bg: transparent;

$navbar-default-bg: transparent;
$navbar-default-border: 1px;
$navbar-height: 165px;

$navbar-padding-vertical: 0 0;
$navbar-padding-horizontal: 0 0;
$navbar-margin-bottom: 0;

$pagination-color: #333;
$pagination-hover-color: #fff;
$pagination-hover-bg: #666;
$pagination-hover-border: #666;
$pagination-active-color: #fff;
$pagination-active-bg: #666;
$pagination-active-border: #666;

$btn-primary-bg: #666;

$link-color: #666;

section#content {
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.navbar {
    // filled with background image randomly by php // background: url(../../images/logotestbar.jpg) no-repeat top center fixed;
}

.nav-bg-01 { background: url(../../images/navbg01.jpg) no-repeat top center fixed; }
.nav-bg-02 { background: url(../../images/navbg02.jpg) no-repeat top center fixed; }
.nav-bg-03 { background: url(../../images/navbg03.jpg) no-repeat top center fixed; }
.nav-bg-04 { background: url(../../images/navbg04.jpg) no-repeat top center fixed; }
.nav-bg-05 { background: url(../../images/navbg05.jpg) no-repeat top center fixed; }

#navbar-bottom {
    position: relative;
    height: 195px;

    .nav {
    position: absolute; 
    bottom: 0; 
    right: 0;
    background: red;
}

}


img.brand {
    width: 400px;
    min-height: 165px;
}

html {
	background: url(../../images/background.jpg) no-repeat bottom right fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {

}

p.description {
    font-weight: 400;
    font-size: 21px;
}

.space-toolbar {
    margin-left: 30px;
}



.bg-partial {
	background: rgba(255,255,255,0.6);
	min-height: 100vh;
}

.categories-list {
    margin: 10px 0;
    font-family: 'Pragati-Narrow', sans-serif;
}

.video-listing-item {
    position: relative;
    display: flex;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid #ccc;
    margin-bottom: 15px;

    .caption {
	    font-size: 1.3em;
	    position: absolute;
	    bottom: 0px;
	    left: 0px;
	    text-transform: uppercase;
	    color: #fff;
	    text-shadow: 1px 1px 10px #202020;
	    font-family: 'Pragati Narrow', sans-serif;
	    padding: 10px;
	    background: rgba(0,0,0,0.8);
	}
}

.video-listing-item.-featured {
    height: 400px;

    .caption {
        font-size: 2em;
    }
}

.video-listing-item.-small {
    height: 140px;
    margin-bottom: 20px;

    .caption {
        font-size: 0.9em;
    }
}

.edit-video {
    margin: 0 0 0 5px;
}

.edit-video.-featured {
    margin: 0 0 0 5px;
}

.well-edit {
    margin-top: -16px;
}

@media (max-width: 480px) {
    
    
}

@media only screen and (max-width: 60em) {
  .video-listing-item {
        height: 300px;
        }
}


.video-listing-item:hover .icon-play-video {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 1
}





@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

