@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700|Pragati+Narrow:700);

/*
 * FONTS AND VARIABLES OVERRIDE
 *
 */
$font-family-sans-serif: 'Lato', sans-serif;

$body-bg: transparent;

$navbar-default-bg: transparent;
$navbar-default-border: 1px;
$navbar-height: 220px;
$navbar-font-family: $font-family-sans-serif;
$navbar-font-size: 15px;
$navbar-font-weight: 300;

$navbar-padding-vertical: 10px;
$navbar-padding-horizontal: 10px;
$navbar-margin-bottom: 0;

$pagination-color: #333;
$pagination-hover-color: #fff;
$pagination-hover-bg: #666;
$pagination-hover-border: #666;
$pagination-active-color: #fff;
$pagination-active-bg: #666;
$pagination-active-border: #666;

$btn-primary-bg: #666;

$link-color: #666;

section#content {
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.navbar {
    font-family: $navbar-font-family;
    font-size: $navbar-font-size;
    font-weight: $navbar-font-weight;    
}

.nav-bg-01 { background: url(../../images/navbg01.jpg) no-repeat top left ; }
.nav-bg-02 { background: url(../../images/navbg02.jpg) no-repeat top left ; }
.nav-bg-03 { background: url(../../images/navbg03.jpg) no-repeat top left ; }
.nav-bg-04 { background: url(../../images/navbg04.jpg) no-repeat top left ; }
.nav-bg-05 { background: url(../../images/navbg05.jpg) no-repeat top left ; }
.nav-bg-06 { background: url(../../images/navbg06.jpg) no-repeat top left ; }
.nav-bg-07 { background: url(../../images/navbg07.jpg) no-repeat top left ; }

ul.nav li a {
    border-top: 5px solid #ccc;
    background: rgba(255,255,255,0.6);
    padding-top: 10px;
}

ul.nav li a:hover {
    border-top: 5px solid black;
    background: rgba(255,255,255,0.9);
}

ul.nav li:hover {
    background: rgba(255,255,255,0.9);
}

ul.nav li.dropdown ul {

    margin: 0;
    padding: 0;
    
    li {
        margin: 0;
        padding: 0;

        a, a:hover {
            border-top: 0;
            padding: 10px;
        }
        a:hover {
            background: #d3d3d3;
        }
    }
}

img.brand{
        height: 0px;
    }

html {
	background: url(../../images/background.jpg) no-repeat bottom right fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {

}

p.description {
    font-weight: 400;
    font-size: 21px;
}

h1.pageTitle {
    font-weight: 300;
    text-transform: capitalize;

    small{
        font-weight: 300;
        text-transform: uppercase;
        padding-left: 20px;
    }
}

.space-toolbar {
    margin-left: 30px;
}



.bg-partial {
	background: rgba(255,255,255,0.6);
	min-height: 100vh;
}

.categories-list {
    margin: 10px 0;
    font-family: 'Pragati-Narrow', sans-serif;
}

.video-listing-item {
    position: relative;
    display: flex;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid #ccc;
    margin-bottom: 15px;

    .caption {
	    font-size: 1.3em;
	    position: absolute;
	    bottom: 0px;
	    left: 0px;
	    text-transform: uppercase;
	    color: #fff;
	    text-shadow: 1px 1px 10px #202020;
	    font-family: 'Pragati Narrow', sans-serif;
	    padding: 10px;
	    background: rgba(0,0,0,0.8);
	}
}

.video-listing-item.-featured {
    height: 440px;

    .caption {
        font-size: 2em;
    }
}

.video-listing-item.-small {
    height: 140px;
    margin-bottom: 20px;

    .caption {
        font-size: 0.9em;
    }
}

.edit-video {
    margin: 0 0 0 5px;
}

.edit-video.-featured {
    margin: 0 0 0 5px;
}

.well-edit {
    margin-top: -16px;
}

@media (max-width: 480px) {
    
    
}

@media only screen and (max-width: 60em) {
  .video-listing-item {
        height: 300px;
        }
}


.video-listing-item:hover .icon-play-video {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 1
}


@media only screen and (max-width: 768px) {
    .nav-bg-01 { background-size: 0 0; }
    .nav-bg-02 { background-size: 0 0; }
    .nav-bg-03 { background-size: 0 0; }
    .nav-bg-04 { background-size: 0 0; }
    .nav-bg-05 { background-size: 0 0; }
    .nav-bg-06 { background-size: 0 0; }
    .nav-bg-07 { background-size: 0 0; }

    .navbar {
        border: 0px !important;
    }
    img.brand{
        height: 222px;
    }

    .navbar-collapse {
        background: rgba(0,0,0,0.1);
    }

    .boxme {
        
    }

    
}

@media only screen and (max-width: 515px) {
    .navbar {
        border: 0px !important;
    }
    img.brand {
        height: 150px;
        margin-top: 72px;
    }
}



@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

